<h2>Resend confirmation instructions</h2>
<div class="page-header">
  <h2>Resend confirmation instructions</h2>
  <%= render 'devise/shared/links' %>
</div>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email ,:for=>"emailField"%><br />
    <%= f.email_field :email,:class=>"form-control", :id=>"emailField" autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <%= f.submit "Resend confirmation instructions",:class=>"btn btn-success btn-lg" %><br />
<% end %>
