<div class="page-header">
  <%= link_to 'Add', new_sender_path, :class=>"btn btn-success pull-right" %>
  <h2>Tokens</h2>
</div>
<% unless @tokens.empty? %>
  <div id="tokens">
    <%= render 'tokens' %>
  </div>
  <div id="paginate">
    <%= render 'paginate' %>
  </div>
  <div class="row">
    <div class="col-xs-4 col-lg-2">
      <%=button_to "Send page", {:controller=>"sender",:action=>"senderByPage", :page=>@page},{:class=> 'btn btn-default'} %>
    </div>
    <div class="col-xs-4 col-lg-2">
      <%=button_to "Send All",  {:controller=>"sender",:action=>"senderAll",:page=>@page}, {:class=> 'btn btn-primary'} %>
    </div>
  </div>
<% end %>
