<div class="page-header">
  <div class="pull-right">
    <%=link_to 'All Images',    images_path, :class=>"btn btn-success" %>
  </div>
  <h2>Description</h2>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Route</th>
        <th><%= @image.route %></th>
      </tr>
      <tr>
        <th>Screenshot</th>
        <th><img src="<%=@image.image.url%>" width="300" height="300" class="img-responsive img-thumbnail"></th>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>

<%=link_to 'Edit',edit_sender_image_path(@image.token,@image), :class=>"btn btn-success" %>
<%= link_to 'Destroy',image_path(@image), :class=>"btn btn-danger",data: { confirm: "Are you sure?" }, method: :delete %>
<br>
<br>
<%= link_to 'Send screenshot', sendScreenshot_images_path(:token_id => @image.token_id,:route=>@image.route), :class=>"btn btn-primary", method: :post %>
